<footer>
    <!-- class -->
    <nav class="external-links">
        <a href="https://webpages.charlotte.edu/wdunca10">CLT Web</a>
        <a href="https://woduncangh.github.io">GitHub.io</a>
        <a href="https://github.com/woduncanGH">GitHub</a>
        <a href="https://www.freecodecamp.org/woduncan">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/woduncan">Codecademy</a>
        <a href="https://www.linkedin.com/in/william-duncan-587238388">LinkedIn</a>
    </nav>
    <!-- class -->
    <p class="copyright">A product of <a href="duncanwebsolutions.com/index.html">Duncan Web Solutions</a> &copy;2026 - All Rights Reserved</p>
    <!-- class -->
    <p class="tagline">"The dipper is a singularly joyous and lovable little fellow... He is the 
        mountain streams' own darling" —John Muir</p>
</footer>